<div class="container">
  <mat-card>
    <mat-card-title>
      <h1>Fortune Cookie</h1>
    </mat-card-title>
    <img
      id="imagem"
      (click)="irTelaConselho()"
      src="./assets/istockphoto-1094292490-612x612.png"
    />
    <div class="texto">
      <span>Click on the cookie</span>
    </div>

    <mat-card-subtitle>
      <p>
        Do you know the fortune cookie story? Legend has it that it appeared in
        China at the time of the wars for the unification of the territory. It
        is said that the Mongols did not like these biscuits, so the troops took
        advantage that they did not eat and put secret messages inside the
        biscuit for men on the battlefield. In this way, the Chinese won the war
        and unified part of the territory that today is China itself.
      </p>
    </mat-card-subtitle>
  </mat-card>
</div>
